<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Declaración de Salud</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 11px;
      line-height: 1;
      padding-top: 3px;
      padding-right: 2px;
      padding-left: 2px;
      padding-bottom: 3px;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
      text-align: center;
      margin: 2px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 20px 0;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 6px;
      text-align: left;
    }

    .firma {
      height: 80px;
      border-bottom: 1px solid #000;
      text-align: center;
      margin-top: 40px;
    }

    .checkbox {
      display: inline-block;
      width: 12px;
      height: 12px;
      border: 1px solid #000;
      text-align: center;
      line-height: 12px;
      margin-left: 10px;
    }

    .label {
      font-weight: bold;
    }

    .question-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2px;

      /* espacio entre pares de pregunta-respuesta */
    }

    .question {
      font-weight: bold;
      max-width: 300px;
      /* ancho fijo para alinear todas las preguntas */
    }

    .answer {
      flex: 1;
            margin-left: 10px;
      /* ocupará el resto del espacio disponible */
    }

    .checkbox {
      display: inline-block;
      width: 14px;
      height: 14px;
      border: 1px solid #000;
      text-align: center;
      font-size: 10px;
      line-height: 14px;
    }

      .page-break {
    page-break-before: always;
  }
  </style>
</head>

<body>
  <h5>Pacífico Seguro</h2>
  <h2 style="text-align: left;">Declaración Adicional De Salud</h2>
  <hr style="margin: 5px 0;" />
  <div class="sectionHeader">
    <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;">
      <div>
        <div><span>Parte II</span></div>
        <span><strong>Declaraciones hechas al médico</strong></span>
        <div><span class="label">Propuesto Asegurado:</span> {{declaracion.names}}</div>
        <div><span class="label">Estado Civil</span> {{declaracion.estadocivil}}</div>
      </div>
      <div>
        <div><span class="label">N° Solicitud:</span> {{declaracion.nrosolicitud}}</div>
        <div><span class="label">Asesor:</span> {{declaracion.asesor}}</div>
        <div>
          <span class="label">Fecha de Nacimiento:</span>
          {{declaracion.fechanacimientoString}}
        </div>
        <div><span class="label">D.N.I. Nº:</span> {{declaracion.numerodocumento}}</div>
      </div>
    </div>
    <hr style="margin: 5px 0;" />
    <div style="font-size: 11px; margin-left: 10px;margin-right: 10px;">
      <div class="label" style="text-align: center; margin-bottom: 5px;">INSTRUCCIONES PARA EL MÉDICO EXAMINADOR</div>
      <ol>
        <li>Una vez comenzado el examen, el informe correspondiente pasa a ser propiedad de la Compañía y no debe ser
          alterado o destruido cualquiera sea el dictamen, incluso si el Propuesto Asegurado u otra persona se ofrecen a
          pagar sus honorarios.</li>
        <li>No se permite al M.E. examinar a sus pacientes o familiares, o a los clientes de un familiar suyo.</li>
        <li>El Propuesto Asegurado debe poner su firma en cualquier alteración en las declaraciones hechas por él.</li>
        <li>Tanto las declaraciones del Propuesto Asegurado como su informe deben ser registradas a mano por usted.</li>
        <li>Si está usando sistema métrico para la medida, indicarlo.</li>
      </ol>
    </div>
  </div>
  <h4 style="text-align: center; margin-top: 10px; margin-bottom: 10px;">POR FAVOR, CONTESTE A SU MEJOR SABER Y ATENDER</h2>
    <section class="QuestPartOne">
      <div class="question-section">
        <div class="question">1 a. ¿ Nombre y dirección de su médico particular?(Si no tiene, último médico consultado)
        </div>
        <div class="answer">{{entender.nameanddirection}}</div>
      </div>

      <div class="question-section">
        <div class="question">b. ¿Fecha y motivo de la consulta más reciente? (Si fue dentro de los últimos 10 años)
        </div>
        <div class="answer">{{entender.fechaandmotivation}}</div>
      </div>

      <div class="question-section">
        <div class="question">c. ¿Qué tratamiento o medicación se prescribió?</div>
        <div class="answer">{{entender.medication}}</div>
      </div>
    </section>

    <!-- BLOQUE DE NOTA -->
    <div style="border: 1px solid #000; padding: 8px; margin: 15px auto; max-width: 95%;">
      <span style="color: red; font-weight: bold;">NOTA:</span>
      En caso de respuesta afirmativa a alguna pregunta, indique el número de ésta e incluya el diagnóstico, fecha, duración,
      grado de recuperación y nombre/dirección de médicos a quienes se pueda pedir información.
    </div>

{{!--     <section style="margin-top: 15px;">
      <div style="font-weight: bold; margin-bottom: 5px;">
        2. ¿Ha sido tratado o tiene conocimiento de haber padecido de: (SUBRAYE LOS DATOS PERTINENTES)
      </div>
      {{#each entenderEnfermedades}}
        {{#if (lte @index 11)}}
          
          {{#isMultipleOf @index 10}}
            <div style="display: flex; justify-content: flex-end; gap: 25px; font-weight: bold; margin-bottom: 4px; margin-top: 10px;">
              <div>SÍ</div>
              <div>NO</div>
            </div>
          {{/isMultipleOf}}
          <div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2px;">
            <div style="flex: 1;">
              <span style="font-weight: bold;">{{getLetra @index}}</span> {{getTextoPregunta @index}}
            </div>
            <div style="display: flex; gap: 15px;">
              <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
            </div>
          </div>
          <hr style="margin: 5px 0;" />



          {{#if this.sustento}}
            <div style="margin-left: 20px; margin-bottom: 5px;">
              {{this.sustento}}
            </div>
          {{/if}}
            
        {{/if}}
      {{/each}}
   </section> --}}

   <section style="margin-top: 15px;">
  <div style="font-weight: bold; margin-bottom: 5px;">
    2. ¿Ha sido tratado o tiene conocimiento de haber padecido de: (SUBRAYE LOS DATOS PERTINENTES)
  </div>
  {{#each entenderEnfermedades}}
    {{#if (lte @index 11)}}
      <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
        <!-- Columna izquierda: Pregunta y checkboxes -->
        <div style="width: 50%;">
         {{#isMultipleOf @index 20}}
            <div style="display: flex; justify-content: flex-end; gap: 8px; font-weight: bold; margin-bottom: 2px; margin-top: 5px;">
              <div>SÍ</div>
              <div>NO</div>
            </div>
         {{/isMultipleOf}}
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              <span style="font-weight: bold;">{{getLetra @index}}</span> {{getTextoPregunta @index}}
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
            </div>
          </div>
         <hr style="margin: 5px 0;" />
        </div>

        <!-- Columna derecha: Sustento si existe -->
        <div style="width: 48%;">
          {{#if this.sustento}}
            <div>{{this.sustento}}</div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</section>
    
    <section style="margin-top: 5px;">
      {{#each entenderEnfermedades}}
        {{#if (eq @index 12)}}
      <!-- Pregunta -->
      <div style="display: flex; justify-content: space-between; align-items: start; margin-bottom: 1px;">
        <div style="width: 50%;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <div style="flex: 1;">
                <span style="font-weight: bold;">3.</span>
                ¿En la actualidad fuma usted o durante los últimos 12 meses ha fumado cigarrillos, cigarros, pipa o ha usado tabaco en cualquier forma?
                <br />
                (En caso afirmativo, detalle cuántos al día) ___{{this.sustento}}__
              </div>
              <div style="display: flex; gap: 1px;">
                <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
              </div>
            </div>
        </div>
        <div style="width: 48%;">
        </div>
      </div>

      {{/if}}
    {{/each}}
    <div style="width: 50%;">
            <!-- Firma -->
        <div style="margin-top: 10px; display: flex; justify-content: flex-end;">
          
          <div style="text-align: center;">
            <div style="border-bottom: 1px solid black; width: 220px; height: 60px; display: flex; justify-content: center; align-items: center;">
              {{#if firma.propuestoAsegurado}}
                <img src="{{firma.propuestoAsegurado}}" style="max-height: 60px; max-width: 100%;" />
              {{/if}}
            </div>
            <div>Firma del Propuesto Asegurado</div>
          </div>
      
            <div style="width: 48%;">
            </div>
        </div>
    </div>


    <!-- Preguntas 4 a 10 -->
  <section style="margin-top: 15px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 13) (lte @index 15))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>

     <section style="margin-top: 5px;">
          <div style="font-weight: bold;">
            7. En los últimos 5 años:
          </div>
          {{#each entenderEnfermedades}}
            {{#if (and (gte @index 16) (lte @index 19))}}
              <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
                 <div style="width: 50%;">
                      {{#isMultipleOf @index 16}}
                      <div style="display: flex; justify-content: flex-end; gap: 8px; font-weight: bold; margin-bottom: 2px; margin-top: 5px;">
                        <div>SÍ</div>
                        <div>NO</div>
                      </div>
                    {{/isMultipleOf}}
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="flex: 1;">
                        {{getTextoPregunta @index}}
                        </div>
                        <div style="display: flex; gap: 1px;">
                          <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                          <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                        </div>
                    </div>
                    <hr style="margin: 5px 0;" />
                 </div>
                <div style="width: 48%;">
                  {{#if this.sustento}}
                    <div>
                      {{this.sustento}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
     </section>

  <!-- Pregunta 8 a 10 -->
  <section style="margin-top: 5px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 20) (lte @index 22))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>
  <!-- Pregunta 10 -->
  <section style="margin-top: 15px;">
        <div style="width: 50%;">
            <!-- Tabla de antecedentes familiares -->
            <table>
              <thead>
                <tr>
                  <th>Pariente</th>
                  <th>Edad si viven</th>
                  <th>Estado de salud / Causa de muerte</th>
                  <th>Edad al morir</th>
                </tr>
              </thead>
              <tbody>
                {{#each familiares}}
                <tr>
                  <td>{{this.tipo}}</td>
                  <td>{{this.edadSiVive}}</td>
                  <td>{{this.estadoSalud}}</td>
                  <td>{{this.edadAlMorir}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
         <div style="width: 48%;">
          </div>
  </section>

   <section style="margin-top: 15px;">
    <div class="question-section">
      <div class="question">11.a. Estatura</div>
      <div class="answer"> {{#each entenderEnfermedades}}
             {{#if (eq @index 24)}}
            {{this.answer}} 
            {{/if}}
         {{/each}} (m) {{#each entenderEnfermedades}}
             {{#if (eq @index 25)}}
            {{this.answer}} 
            {{/if}}
         {{/each}}(cm)</div>
    </div>
    <div class="question-section" style="margin-left: 15px;">
      <div class="question">b. Peso</div>
      <div class="answer">{{#each entenderEnfermedades}}
             {{#if (eq @index 26)}}
            {{this.answer}} 
            {{/if}}
         {{/each}} (kg)</div>
    </div>

{{!-- 12 --}}
  {{#each entenderEnfermedades}}
      {{#if (eq @index 27)}}
    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
      <div style="width: 50%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1;">
              <span style="font-weight: bold;">12.</span> ¿Ha tenido algún cambio de peso en los últimos 12 meses?
            </div>
            <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
            </div>
          </div>
      </div>
      <div style="width: 48%;">
          {{#if this.sustento}}
            <div>
              {{this.sustento}}
            </div>
          {{/if}}
      </div>
    </div>
      {{/if}}
  {{/each}}

     <section style="margin-top: 5px;">
          <div style="font-weight: bold;">
             13. SI EL PROPUESTO ASEGURADO ES MUJER
          </div>
          {{#each entenderEnfermedades}}
            {{#if (and (gte @index 29) (lte @index 30))}}
              <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
                 <div style="width: 50%;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="flex: 1;">
                        {{getTextoPregunta @index}}
                        </div>
                        <div style="display: flex; gap: 1px;">
                          <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                          <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                        </div>
                    </div>
                    <hr style="margin: 5px 0;" />
                 </div>
                <div style="width: 48%;">
                  {{#if this.sustento}}
                    <div>
                      {{this.sustento}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
     </section>
     <div style="width: 50%;">
      <h4>SIDA(Síndrome de Inmunodeficiencia Adquirida)
            En caso afirmativo, dé detalles completos.</h4>
     </div>
                 <div style="width: 48%;">
            </div>


            <section style="margin-top: 5px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 31) (lte @index 34))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>

    <div style="padding: 0px; margin: 1px auto; max-width: 100%;">
            Confirmo que soy la persona arriba mencionada como Propuesto Asegurado y que las declaraciones y respuestas
            precedentes, una vez debidamente comprobadas, son completas, auténticas, correctamente transcritas y forman
            parte de la Solicitud de Seguro sobre mi vida hecha a Pacífico Seguros. Por la presente autorizo a todo
            médico, hospital, compañía de seguros u otra institución o persona cualquiera, a que faciliten a Pacífico
            Seguros, o su representante, información sobre mi estado de salud, historial médico y cualquier
            hospitalización, recomendación, diagnóstico, tratamiento, enfermedad o dolencia. Una fotocopia de esta
            autorización será, asimismo, válida.
    </div>

    <div class="date" style="text-align: end;">
          <span>Firmado en el 10 de Marzo de 2025</span>
    </div>

    <section>
                <!-- Firma -->
         <div style="margin-top: 10px; display: flex; justify-content: center;">
                        <div style="width: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <div style="border-bottom: 1px solid black; width: 220px; height: 60px; display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                              {{#if firma.medico}}
                                <img src="{{firma.medico}}" style="max-height: 60px; max-width: 100%;" />
                              {{/if}}
                            </div>
                            <div style="margin-top: 4px; text-align: center;">Firma del Médico Examinador</div>
                        </div>
                         <div style="width: 48%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <div style="border-bottom: 1px solid black; width: 220px; height: 60px; display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                              {{#if firma.propuestoAsegurado}}
                                <img src="{{firma.propuestoAsegurado}}" style="max-height: 60px; max-width: 100%;" />
                              {{/if}}
                            </div>
                            <div style="margin-top: 4px; text-align: center;">Firma del Propuesto Asegurado</div>
                        </div>
          </div>


    </section>

<div class="page-break"></div>
  <h2 style="text-align: left;">PINFORME CONFIDENCIAL DEL MÉDICO EXAMINADOR</h2>
    <div class="sectionHeader">
    <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;">
      <div>
        <div><span class="label">Propuesto Asegurado:</span> {{declaracion.names}}</div>
        <div><span class="label">¿Cuánto tiempo hace que conoce usted al Propuesto Asegurado?</span> {{declaracion.estadocivil}}</div>
      </div>
      <div>
        <div><span class="label">D.N.I. Nº:</span> {{declaracion.numerodocumento}}</div>
        <div><span class="label">¿Es paciente o familiar suyo?:</span> {{declaracion.asesor}}</div>
      </div>
    </div>
    <hr style="margin: 5px 0;" />
  </div>

</body>

</html>