<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Declaración de Salud</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      font-size: 10px;
      line-height: 1;
      padding-top: 3px;
      padding-right: 2px;
      padding-left: 2px;
      padding-bottom: 3px;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    h1,
    h2,
    h3 {
      text-align: center;
      margin: 2px 0;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      margin: 15px 0;
    }

    th,
    td {
      border: 1px solid #000;
      padding: 6px;
      text-align: left;
    }

    .firma {
      height: 80px;
      border-bottom: 1px solid #000;
      text-align: center;
      margin-top: 40px;
    }

    .checkbox {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #000;
      text-align: center;
      line-height: 12px;
      margin-left: 10px;
    }

    .label {
      font-weight: bold;
    }

    .question-section {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-bottom: 2px;

      /* espacio entre pares de pregunta-respuesta */
    }

    .question {
      max-width: 300px;
      /* ancho fijo para alinear todas las preguntas */
    }

    .answer {
      flex: 1;
            margin-left: 10px;
      /* ocupará el resto del espacio disponible */
    }

    .checkbox {
      display: inline-block;
      width: 10px;
      height: 10px;
      border: 1px solid #000;
      text-align: center;
      font-size: 8px;
      line-height: 10px;
    }

      .page-break {
    page-break-before: always;
  }
  </style>
</head>

<body>
  <div style="display: flex; justify-content: space-between; align-: flex-start; margin-bottom: 5px;">
  <div>
    <h4 style="margin: 0;">Pacífico Seguros</h5>
    <h2 style="margin: 0;padding-top: 10px;">DECLARACIÓN ADICIONAL DE SALUD</h2>
  </div>
  <div>
    <img src="{{logo}}" style="height: 35px;" />
  </div>
</div>

  <hr style="margin: 5px 0;" />
  <div class="sectionHeader">
    <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;">
      <div>
        <div><span>Parte II</span></div>
        <span><strong>Declaraciones hechas al médico</strong></span>
        <div><span class="label">Propuesto Asegurado:</span> {{declaracion.names}}</div>
        <div style="display: flex;  flex-direction: row; margin: 0;padding: 0;">
          
        <div style="display: flex;margin: 0;padding: 0; "> Soltero <div class="checkbox" style="margin-left: 2px;">{{#if (eq declaracion.estadocivil "Soltero")}}X{{/if}}</div>
        </div>
        <div style="display: flex;margin: 0;padding: 0; "> Casado <div class="checkbox" style="margin-left: 2px;">{{#if (eq declaracion.estadocivil "Casado")}}X{{/if}}</div>
        </div>
        <div style="display: flex;margin: 0;padding: 0; "> Viudo <div class="checkbox" style="margin-left: 2px;">{{#if (eq declaracion.estadocivil "Divorciado")}}X{{/if}}</div>
        </div>
        <div style="display: flex;margin: 0;padding: 0; "> Divorciado <div class="checkbox" style="margin-left: 2px;">{{#if (eq declaracion.estadocivil "Separado")}}X{{/if}}</div>
        </div>
        <div style="display: flex ;margin: 0;padding: 0;"> Separado <div class="checkbox" style="margin-left: 2px;">{{#if (eq declaracion.estadocivil "Viudo")}}X{{/if}}</div>
        </div>
        </div>
      </div>
      <div>
        <div><span class="label">N° Solicitud:</span> {{declaracion.nrosolicitud}}</div>
        <div><span class="label">Asesor:</span> {{declaracion.asesor}}</div>
        <div>
          <span class="label">Fecha de Nacimiento:</span>
          {{declaracion.fechanacimientoString}}
        </div>
        <div><span class="label">D.N.I. Nº:</span> {{declaracion.numerodocumento}}</div>
      </div>
    </div>
    <hr style="margin: 5px 0;" />
    <div style="font-size: 11px; margin-left: 10px;margin-right: 10px;">
      <div class="label" style="text-align: center; margin-bottom: 5px;font-size: 8.5px;">INSTRUCCIONES PARA EL MÉDICO EXAMINADOR</div>
      <ol>
        <li style="font-size: 8px;">Una vez comenzado el examen, el informe correspondiente pasa a ser propiedad de la Compañía y no debe ser
          alterado o destruido cualquiera sea el dictamen, incluso si el Propuesto Asegurado u otra persona se ofrecen a
          pagar sus honorarios.</li>
        <li style="font-size: 8px;">No se permite al M.E. examinar a sus pacientes o familiares, o a los clientes de un familiar suyo.</li>
        <li style="font-size: 8px;">El Propuesto Asegurado debe poner su firma en cualquier alteración en las declaraciones hechas por él.</li>
        <li style="font-size: 8px;">Tanto las declaraciones del Propuesto Asegurado como su informe deben ser registradas por usted.</li>
        <li style="font-size: 8px;">Si está usando sistema métrico para la medida, indicarlo.</li>
      </ol>
    </div>
  </div>
  <hr style="margin: 5px 0;" />
  <h4 style="text-align: center; margin-top: 10px; margin-bottom: 10px;font-size: 8.5px;">POR FAVOR, CONTESTE A SU MEJOR SABER Y ATENDER</h2>
    <section class="QuestPartOne">
      <div class="question-section">
        <div class="question">1 a. ¿ Nombre y dirección de su médico particular?(Si no tiene, último médico consultado)
        </div>
        <div class="answer" style="border-bottom:0.5px solid #9c9a9a;">{{entender.nameanddirection}}</div>
      </div>

      <div class="question-section">
        <div class="question">b. ¿Fecha y motivo de la consulta más reciente? (Si fue dentro de los últimos 10 años)
        </div>
        <div class="answer" style="border-bottom:1px solid #9c9a9a;">{{entender.fechaandmotivation}}</div>
      </div>

      <div class="question-section">
        <div class="question">c. ¿Qué tratamiento o medicación se prescribió?</div>
        <div class="answer" style="border-bottom:1px solid #9c9a9a;">{{entender.medication}}</div>
      </div>
    </section>

    <div style="padding: 8px; margin: 4px auto; max-width: 95%;">
      En caso de respuesta afirmativa a alguna pregunta, indique el número de ésta e incluya el diagnóstico, fecha, duración,
      grado de recuperación y nombre/dirección de médicos a quienes se pueda pedir información.
    </div>

<section style="margin-top: 8px;">
  <div style="margin-bottom: 5px;">
    2. ¿Ha sido tratado o tiene conocimiento de haber padecido de: (SUBRAYE LOS DATOS PERTINENTES)
  </div>
  {{#each entenderEnfermedades}}
    {{#if (lte @index 11)}}
      <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
        <!-- Columna izquierda: Pregunta y checkboxes -->
        <div style="width: 50%;">
         {{#isMultipleOf @index 20}}
            <div style="display: flex; justify-content: flex-end; gap: 8px;margin-bottom: 2px; margin-top: 5px;">
              <div>SÍ</div>
              <div>NO</div>
            </div>
         {{/isMultipleOf}}
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              <span >{{getLetra @index}}</span> {{getTextoPregunta @index}}
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
            </div>
          </div>
         <hr style="margin: 5px 0;" />
        </div>

        <!-- Columna derecha: Sustento si existe -->
        <div style="width: 48%;">
          {{#if this.sustento}}
            <div>{{this.sustento}}</div>
          {{/if}}
        </div>
      </div>
    {{/if}}
  {{/each}}
</section>
    
    <section style="margin-top: 5px;">
      {{#each entenderEnfermedades}}
        {{#if (eq @index 12)}}
      <!-- Pregunta -->
      <div style="display: flex; justify-content: space-between; align-items: start; margin-bottom: 1px;">
        <div style="width: 50%;">
            <div style="display: flex; justify-content: space-between; align-items: center;">
              <div style="flex: 1;">
                <span >3.</span>
                ¿En la actualidad fuma usted o durante los últimos 12 meses ha fumado cigarrillos, cigarros, pipa o ha usado tabaco en cualquier forma?
                <br />
                (En caso afirmativo, detalle cuántos al día) 
              </div>
              <div style="display: flex; gap: 1px;">
                <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
              </div>
            </div>
        </div>
        <div style="width: 48%;">
{{this.sustento}}
        </div>
      </div>

      {{/if}}
    {{/each}}
    <div style="width: 50%;">
            <!-- Firma -->
        <div style="margin-top: 2px; display: flex; justify-content: flex-end;">
          
          <div style="text-align: center;">
            <div style="border-bottom: 1px solid black; width: 200px; height: 55px; display: flex; justify-content: center; align-items: center;">
              {{#if firma.propuestoAsegurado}}
                <img src="{{firma.propuestoAsegurado}}" height="40" width="130" />
              {{/if}}
            </div>
            <div>Firma del Propuesto Asegurado</div>
          </div>
      
            <div style="width: 48%;">
            </div>
        </div>
    </div>


    <!-- Preguntas 4 a 10 -->
  <section style="margin-top: 15px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 13) (lte @index 15))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>
  <section style="margin-top: 20px;margin-bottom: 20px;">
   
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 70%;">
            
            </div>
            <div style="width: 30%;">
                DECLARACIÓN ADICIONAL DE SALUD 1 de 3 
            </div>
        </div>
 
    </section>
    <div style=" page-break-before: always;
  break-before: page;"></div>
     <section style="margin-top: 5px;">
          <div>
            7. En los últimos 5 años:
          </div>
          {{#each entenderEnfermedades}}
            {{#if (and (gte @index 16) (lte @index 19))}}
              <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
                 <div style="width: 50%;">
                      {{#isMultipleOf @index 16}}
                      <div style="display: flex; justify-content: flex-end; gap: 8px; margin-bottom: 2px; margin-top: 5px;">
                        <div>SÍ</div>
                        <div>NO</div>
                      </div>
                    {{/isMultipleOf}}
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="flex: 1;">
                        {{getTextoPregunta @index}}
                        </div>
                        <div style="display: flex; gap: 1px;">
                          <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                          <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                        </div>
                    </div>
                    <hr style="margin: 5px 0;" />
                 </div>
                <div style="width: 48%;">
                  {{#if this.sustento}}
                    <div>
                      {{this.sustento}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
     </section>

  <!-- Pregunta 8 a 10 -->
  <section style="margin-top: 5px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 20) (lte @index 22))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>
  <!-- Pregunta 10 -->
   <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
      <div style="width: 50%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1;">
             10. ¿Hay en su familia antecedentes de tuberculosis, diabetes, cáncer, hipertensión, enfermedad sanguínea o renal, enfermedad mental o suicidio?
            </div>
            <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq entenderEnfermedades.[23].answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq entenderEnfermedades.[23].answer "N")}}X{{/if}}</div>
            </div>
          </div>
      </div>
      <div style="width: 48%;">
          {{#if entenderEnfermedades.[23].sustento}}
            <div>
              {{ entenderEnfermedades.[23].sustento}}
            </div>
          {{/if}}
      </div>
    </div>
  <section style="margin-top: 15px;">
        <div style="width: 50%;">
            <!-- Tabla de antecedentes familiares -->
            <table>
              <thead>
                <tr>
                  <th></th>
                  <th style="margin:2px;padding: 2px;width:12px">Edad si viven</th>
                  <th >Estado de salud / Causa de muerte</th>
                  <th style="margin:2px;padding: 2px;width:12px">Edad al morir</th>
                </tr>
              </thead>
              <tbody>
                {{#each familiares}}
                <tr>
                  <td>{{this.tipo}}</td>
                  <td style="margin:2px;padding: 2px;width:12px">{{this.edadSiVive}}</td>
                  <td >{{this.estadoSalud}}</td>
                  <td style="margin:2px;padding: 2px;width:12px">{{this.edadAlMorir}}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
        </div>
         <div style="width: 48%;">
          </div>
  </section>

   <section style="margin-top: 15px;">
    <div class="question-section">
      <div class="question">11.a. Estatura</div>
      <div class="answer"> {{entenderEnfermedades.[24].answer}}(m) {{entenderEnfermedades.[25].answer}} (cm)</div>
    </div>
    <div class="question-section" style="margin-left: 15px;">
      <div class="question">b. Peso</div>
      <div class="answer">{{entenderEnfermedades.[26].answer}}(kg)</div>
    </div>

    <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
      <div style="width: 50%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1;">
              12. ¿Ha tenido algún cambio de peso en los últimos 12 meses?
            </div>
            <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq entenderEnfermedades.[27].answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq entenderEnfermedades.[27].answer "N")}}X{{/if}}</div>
            </div>
          </div>
      </div>
      <div style="width: 48%;">
          {{#if entenderEnfermedades.[27].sustento}}
            <div>
              {{entenderEnfermedades.[27].sustento}}
            </div>
          {{/if}}
      </div>
    </div>

     <section style="margin-top: 5px;">
             13. SI EL PROPUESTO ASEGURADO ES MUJER<br>
             A su mejor saber y entender
          {{#each entenderEnfermedades}}
            {{#if (and (gte @index 28) (lte @index 29))}}
              <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
                 <div style="width: 50%;">
                    <div style="display: flex; justify-content: space-between; align-items: center;">
                        <div style="flex: 1;">
                        {{getTextoPregunta @index}}
                        </div>
                        <div style="display: flex; gap: 1px;">
                          <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                          <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                        </div>
                    </div>
                    <hr style="margin: 5px 0;" />
                 </div>
                <div style="width: 48%;">
                  {{#if this.sustento}}
                    <div>
                      {{this.sustento}}
                    </div>
                  {{/if}}
                </div>
              </div>
            {{/if}}
          {{/each}}
     </section>
     <div style="width: 50%;">
      SIDA(Síndrome de Inmunodeficiencia Adquirida)
            En caso afirmativo, dé detalles completos.
     </div>
       <div style="width: 48%;">
      </div>


   <section style="margin-top: 5px;">
    {{#each entenderEnfermedades}}
      {{#if (and (gte @index 30) (lte @index 33))}}
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 50%;">
              <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div style="flex: 1; margin-right: 0;">
                    {{getTextoPregunta @index}}
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                    <div class="checkbox">{{#if (eq this.answer "N")}}X{{/if}}</div>
                  </div>
              </div>
               <hr style="margin: 5px 0;" />
            </div>
            <div style="width: 48%;">
                {{#if this.sustento}}
                  <div>
                    {{this.sustento}}
                  </div>
                {{/if}}
            </div>
        </div>
      {{/if}}
    {{/each}}
    </section>

    <div style="padding: 0px; margin: 1px auto; max-width: 100%;">
            Confirmo que soy la persona arriba mencionada como Propuesto Asegurado y que las declaraciones y respuestas
            precedentes, una vez debidamente comprobadas, son completas, auténticas, correctamente transcritas y forman
            parte de la Solicitud de Seguro sobre mi vida hecha a Pacífico Seguros. Por la presente autorizo a todo
            médico, hospital, compañía de seguros u otra institución o persona cualesquiera, a que faciliten a Pacífico
            Seguros, o su representante, información sobre mi estado de salud, historial médico y cualquier
            hospitalización, recomendación, diagnóstico, tratamiento, enfermedad o dolencia. Una fotocopia de esta
            autorización será, asimismo, válida.
    </div>

    <div class="date" style="text-align: end;">
          <span>{{dateCuestionarioString}}</span>
    </div>

    <section>
                <!-- Firma -->
         <div style="margin-top: 10px; display: flex; justify-content: center;">
                        <div style="width: 50%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <div style="border-bottom: 1px solid black; width: 220px; height: 60px; display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                              {{#if firma.medico}}
                                <img src="{{firma.medico}}" style="max-height: 60px; max-width: 100%;" />
                              {{/if}}
                            </div>
                            <div style="margin-top: 4px; text-align: center;">Firma del Médico Examinador</div>
                        </div>
                         <div style="width: 48%; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                            <div style="border-bottom: 1px solid black; width: 220px; height: 60px; display: flex; justify-content: center; align-items: center; padding-bottom: 5px;">
                              {{#if firma.propuestoAsegurado}}
                                <img src="{{firma.propuestoAsegurado}}" style="max-height: 60px; max-width: 100%;" />
                              {{/if}}
                            </div>
                            <div style="margin-top: 4px; text-align: center;">Firma del Propuesto Asegurado</div>
                            <div style="margin-top: 4px; text-align: center;">Favor de consignar la firma de su D.N.I.</div>
                        </div>
          </div>


    </section>
     <section style="margin-top: 20px;margin-bottom: 20px;" >
   
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 100%;">
            Av. Juan de Arona 830, San Isidro, Lima – Central de Información y Consultas Clientes: 513-5000 -  Central Administrativa: 518-4000 E-mail: serviciocliente@pacifico.com.pe  - www.pacifico.com.pe
            </div>
           
        </div>
 
    </section>
 <section  >
   
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 70%;">
            
            </div>
            <div style="width: 30%;">
                DECLARACIÓN ADICIONAL DE SALUD 2 de 3 
            </div>
        </div>
 
    </section>
  <div class="page-break"></div>

  <div style="display: flex; justify-content: space-between; align-: flex-start; margin-bottom: 5px;">
    <div>
      <h2 style="margin: 0;padding-top: 10px;">INFORME CONFIDENCIAL DEL MÉDICO EXAMINADOR</h2>
    </div>
    <div>
      <img src="{{logo}}" style="height: 35px;" />
    </div>
  </div>
  <div class="sectionHeader">
    <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;">
      <div>
        <div><span class="label">Propuesto Asegurado:</span> {{declaracion.names}}</div>
        <div><span class="label">¿Cuánto tiempo hace que conoce usted al Propuesto Asegurado?</span> {{entenderEnfermedades.[36].answer}}</div>
      </div>
      <div>
        <div><span class="label">D.N.I. Nº:</span> {{declaracion.numerodocumento}}</div>
        <div><span class="label">¿Es paciente o familiar suyo?:</span> No</div>
      </div>
    </div>
     <hr style="margin: 2px 0;" /> 
  </div>

<!-- Tabla con medidas físicas -->
<div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;" >
  <div style="width: 55%; margin: 0;padding: 0;">
      <table style="margin: 0;padding: 0; font-size: 8px">
        <tr>
          <th style="margin: 0.5px;padding: 0.5px;  ">18.a Estatura (Calzado)</th>
          <th style="margin:0.5px;padding: 0.5px;  ">Peso (Vestido)</th>
          <th style="margin: 0.5px;padding: 0.5px;  ">Pecho (Expiración forzada)</th>
          <th style="margin: 0.5px;padding: 0.5px;  ">Pecho (Inspiración completa)</th>{{entenderEnfermedades.[40].answer}}
          <th style="margin: 0.5px;padding: 0.5px;  ">Abdomen (sobre el ombligo)</th>{{entenderEnfermedades.[41].answer}}
        </tr>
        <tr>
          <td>{{entenderEnfermedades.[24].answer}}.{{entenderEnfermedades.[25].answer}}</td>
          <td>{{entenderEnfermedades.[26].answer}}</td>
          <td>{{entenderEnfermedades.[40].answer}}</td> 
          <td>{{entenderEnfermedades.[41].answer}}</td>
          <td>{{entenderEnfermedades.[42].answer}}</td>
        </tr>
      </table>
  </div>
  <div style="width: 43%;">
      {{#if entenderEnfermedades.[52].sustento}}
            <div>{{ entenderEnfermedades.[52].sustento}}</div>
          {{/if}}
  </div>
</div>



<!-- Preguntas con checkboxes -->
<div class="question-section" style="margin-top: 1px;">
  <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;width: 55%;" >
    <div style="width: 44%;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
          b. ¿Pesó usted?
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[43].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[43].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center; center; margin-top: 4px;">
        <div style="margin-right: 0;padding-right: 0;">
           ¿Midió usted?
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[44].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[44].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
    </div>
    <div style="width: 52%;">
       <div style="display: flex; justify-content: center; align-items: center; center;width:100%;">
        <div style="margin-right: 0; width: 60%;padding-bottom: 10px">
           c. ¿Es el Propuesto Asegurado de aspecto enfermizo o aparenta más edad de la declarada?
        </div>
        <div style="display: flex; gap: 1px; padding-bottom: 37px;width: 40%;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[45].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[45].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
    </div>
  </div>
  <div style="width: 43%;">
    {{#if entenderEnfermedades.[53].sustento}}
            <div>{{entenderEnfermedades.[53].sustento}}</div>
          {{/if}}

  </div>
</div>


  <div style="margin-bottom: 1px; width: 55%;">
    19. Presión arterial(si es superior a 138 sistólica o 87 diastólica,tómela 2 veces más)
  </div>
  <div style="width: 50%;">
  </div>
  <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;" >
      <div style="width: 55%;margin: 0px;padding: 0px;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
                <table style="margin: 1px; font-size: 9px">
                  <tr>
                    <td style="width: 30%;border: 0;">Sistólica</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[0].sistolica}}</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[1].sistolica}}</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[2].sistolica}}</td>
                  </tr>
                  <tr>
                    <td style="width: 30%;border: 0;">Diastólica (5a. fase)<br>(Desaparación del sonido)</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[0].diastolica}}</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[1].diastolica}}</td>
                    <td style="width: 20%; text-align: center;">{{presionArterial.[2].diastolica}}</td>
                  </tr>
                </table>
        </div>
      </div>
      <div style="width: 43%;margin: 0px;padding: 0px;">
          {{#if entenderEnfermedades.[54].sustento}}
            <div>{{entenderEnfermedades.[54].sustento}}</div>
          {{/if}}
        
      </div>
  </div>

 
  <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;" >
      <div style="width: 55%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
                <table style="margin: 1px; font-size: 9px">
                   <tr>
                    <td style="width: 30%; height: 40%;border: 0;">    20. Pulso</td>
                    <td style="width: 20%; text-align: center;height: 40%;">EN DESCANSO</td>
                    <td style="width: 20%; text-align: center;height: 40%;">DESPUES DE ESFUERZO</td>
                    <td style="width: 20%; text-align: center;height: 40%;">PASADO 5 MINUTOS</td>
                  </tr>
                  <tr>
                    <td style="width: 30%;border: 0;">Frecuencia p.m.</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[0].frecuencia}}</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[1].frecuencia}}</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[2].frecuencia}}</td>
                  </tr>
                  <tr>
                    <td style="width: 30%;border: 0;">Irregularidades p.m.</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[0].irregularidad}}</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[1].irregularidad}}</td>
                    <td style="width: 20%; text-align: center;">{{pulso.[2].irregularidad}}</td>
                  </tr>
                </table>
        </div>
      </div>
      <div style="width: 43%;">
         
            {{#if entenderEnfermedades.[55].sustento}}
            <div>{{entenderEnfermedades.[55].sustento}}</div>
          {{/if}}
   
      </div>
  </div>

<div class="question-section" style="margin-top: 2px;">
  <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;width: 55%;" >
    <div style="width: 25%;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
          21. Corazón: Hay
        </div>
      </div>
    </div>

    <div style="width: 40%;">
      <div style="display: flex; justify-content: space-center; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
          Hipertrofia
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[46].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[46].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
      <div style="display: flex; justify-content: space-center; align-items: center; margin-top: 4px;">
        <div style="margin-right: 0;padding-right: 0;">
           Soplo(s)
        </div>
        <div style="display: flex; gap: 1px;margin-left:8px">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[47].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[47].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
    </div>
    <div style="width: 40%;">
      <div style="display: flex; justify-content: center; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
          Disnea
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[48].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[48].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
      <div style="display: flex; justify-content: center; align-items: center; center; margin-top: 4px;">
        <div style="margin-right: 0">
           Edema
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq entenderEnfermedades.[49].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox">{{#if (eq entenderEnfermedades.[49].answer "N")}}X{{/if}}</div>NO
        </div>
      </div>
    </div>
  </div>
  <div style="width: 43%;">
     {{#if entenderEnfermedades.[56].sustento}}
            <div>{{entenderEnfermedades.[56].sustento}}</div>
          {{/if}}
        
   
  </div>
</div>


<div class="question-section">
  <div style="display: flex; justify-content:space-between; width: 55%;" >
    <div style="width: 15%;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
        </div>
      </div>
    </div>
    <div style="width: 85%;">
      <div style="display: flex; justify-content: space-center; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
         (Describa soplo a continuación - Si más de uno, separadamente)
        </div>
      </div>
    </div>
  </div>
  <div style="width: 43%;">
   {{#if entenderEnfermedades.[57].sustento}}
            <div>{{entenderEnfermedades.[57].sustento}}</div>
          {{/if}} 
  </div>
</div>

<div class="question-section">
  <div style="display: flex; justify-content:space-between; margin: 0px; padding: 0px;width: 55%; align-items: center;" >
    <div style="width: 25%;">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <div style="margin-right: 0;padding-right: 0;">
            Situación Soplo(s)
        </div>
      </div>
    </div>
    <div style="width: 45%;">
      <div style="display: flex; justify-content: space-center; align-items: center;">
        <div style="margin-right: 0;padding-right: 0; width: 100%;">
            <table style="margin: 0px; font-size: 9px; ">
                   <tr style="margin: 0; padding: 0;">
                    <td style="width: 50%;"> {{entenderEnfermedades.[50].answer}}</td>
                    <td style="width: 50%; text-align: center;">{{entenderEnfermedades.[51].answer}}</td>
                  </tr>
              </table>
        </div>
      </div>
    </div>
    <div style="width: 25%;">
      <div style="display: flex; justify-content: end; align-items: center;">
        <div style="margin-left: 2px;padding-right: 0;">
           Indique en el diagrama
        </div>
      </div>
    </div>
      <div style="width: 5%;"></div>
  </div>
  <div style="width: 43%;">
      
        {{#if entenderEnfermedades.[58].sustento}}
            <div>{{ entenderEnfermedades.[58].sustento}}</div>
          {{/if}}
  </div>
</div>

<div class="question-section">
  <div style="display: flex;justify-content:space-between; margin: 0px; padding: 0px;width: 55%; align-items: center;" >
    <div style="width: 35%;display: flex;flex-direction: column; justify-content:flex-start;">
      <div style="display: flex; justify-content: space-between; align-items: center;padding-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Constante 
        </div>
         <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.constante true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.constante true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
            Inconstante
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.inconstante true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.inconstante true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
            Irradiado
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.irradiado true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.irradiado true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Localizado
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.localizado true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.localizado true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Sistólico
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.sistolico true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.sistolico true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Presistólico
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.presistolico true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.presistolico true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Diastólico
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.diastolico true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.diastolico true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Suave (Gr 1-2)
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.suave_gr1_2 true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.suave_gr1_2 true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Mod. (Gr. 5-6)
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.mod_gr5_6 true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.mod_gr5_6 true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Al esfuerzo:
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.esfuerzo true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.esfuerzo true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Se acentúa
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.acentua true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.acentua true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Desaparece
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.desaparece true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.desaparece true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Sin cambio
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.sin_cambio true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.sin_cambio true)}}X{{/if}}</div>
        </div>
      </div>
      <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
        <div style="margin-right: 0;padding-right: 0;">
           Se atenúa
        </div>
        <div style="display: flex; gap: 1px;">
          <div class="checkbox">{{#if (eq soplos.columna1.se_atenua true)}}X{{/if}}</div>
          <div class="checkbox">{{#if (eq soplos.columna2.se_atenua true)}}X{{/if}}</div>
        </div>
      </div>
    </div>
    <div style="width: 63%;">
       <img src="{{imageSoplo}}"    height="180" width="150" />
    </div>
  </div>
  <div style="width: 43%;">
   
     
       
                {{#if entenderEnfermedades.[59].sustento}}
            <div>{{ entenderEnfermedades.[59].sustento}}</div>
          {{/if}}
     {{#if entenderEnfermedades.[60].sustento}}
            <div>{{entenderEnfermedades.[60].sustento}}</div>
          {{/if}}
        {{#if entenderEnfermedades.[61].sustento}}
            <div>{{ entenderEnfermedades.[61].sustento}}</div>
          {{/if}}
         
  </div>
</div>

<section style="margin-top: 0.5px;">
   <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
  <div style="margin-bottom: 1px; width: 55%;">
   22. ¿Hay en el examen físico alguna observación de: (SUBRAYE LOS DATOS PERTINENTES)
  </div>
  <div style="margin-bottom: 1px;width: 43%;">


  </div>
   </div>

 <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
          <div style="width: 55%;">
            <div style="display: flex; justify-content: flex-end; gap: 8px; margin-bottom: 2px;">
                <div>SÍ</div>
                <div>NO</div>
            </div>
          </div>
          <div style="width: 43%;">
 
          </div>
        </div>
      <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">

        <div style="width: 55%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              a) Ojos, oídos, boca, nariz, faringe?( Si la vista o el oído están afectados en grado considerable, indique el grado y la corrección)

            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[52].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[52].answer "N")}}X{{/if}}</div>
            </div>
          </div>
                <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              b) Piel, ganglios linfáticos, arterias periféricas o venas varicosas?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[53].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[53].answer "N")}}X{{/if}}</div>
            </div>
          </div>
             <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              c) Sistema nervioso (incluye reflejos, forma de andar, parálisis)?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[54].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[54].answer "N")}}X{{/if}}</div>
            </div>
          </div>
              <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              d) Aparato respiratorio?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[55].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[55].answer "N")}}X{{/if}}</div>
            </div>
          </div>
              <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
            e) Abdomen (incluye cicatrices)?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[56].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[56].answer "N")}}X{{/if}}</div>
            </div>
          </div>
   <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              f) Aparato genitourinario (incluye próstata)?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[57].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[57].answer "N")}}X{{/if}}</div>
            </div>
          </div>
 <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
             g) Sistema endocrino (incluye tiroides y senos)?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[58].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[58].answer "N")}}X{{/if}}</div>
            </div>
          </div>
 <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              h) Aparato locomotor (incluye columna, articulaciones, deformidades)?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[59].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[59].answer "N")}}X{{/if}}</div>
            </div>
          </div>

        </div>
        <div style="width: 43%;">
         {{#if entenderEnfermedades.[65].sustento}}
            <div>{{ entenderEnfermedades.[65].sustento}}</div>
          {{/if}}
        </div>
      </div>
      
       
     
         
      
</section>


<section style="margin-top: 2px;">
      <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
        <!-- Columna izquierda: Pregunta y checkboxes -->
        <div style="width: 55%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              23. ¿Hay alguna hernia?
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[60].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[60].answer "N")}}X{{/if}}</div>
            </div>
          </div>
        </div>
        <!-- Columna derecha: Sustento si existe -->
        <div style="width: 43%;">
       
        </div>
      </div>
</section>

<section style="margin-top: 2px;">
      <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 1px;">
        <!-- Columna izquierda: Pregunta y checkboxes -->
        <div style="width: 55%;">
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <div style="flex: 1; margin-right: 0;" >
              24. ¿Tiene usted conocimiento de historial médico adicional?(Puede remitir informe confidencial al Director Médico de la Compañía) 
            </div>
            <div style="display: flex; gap: 1px;">
              <div class="checkbox">{{#if (eq entenderEnfermedades.[61].answer "S")}}X{{/if}}</div>
              <div class="checkbox">{{#if (eq entenderEnfermedades.[61].answer "N")}}X{{/if}}</div>
            </div>
          </div>
        </div>
        <!-- Columna derecha: Sustento si existe -->
        <div style="width: 43%;">
        
        </div>
      </div>
</section>

<div style="margin-right: 0;padding-right: 0;">
  <table style="margin: 1px;">
        <tr>
          <td style="width: 12%;">25. Análisis de orina</td>
          <td style="width: 12%; text-align: center;">Densidad <br> Ver Resultados </td>
          <td style="width: 12%; text-align: center;">Albumina <br> Ver Resultados</td>
          <td style="width: 12%; text-align: center;">Glucosa <br> Ver Resultados</td>
          <td style="width: 48%; text-align: center;">
            
          26. ¿Conoce usted o sospecha algo inusual respecto a la salud, carácter, mentalidad o costumbre del
                      candidato, que no se haya indicado?<br>
    
              <div style="display: flex; gap: 1px;margin-left:155px">
          <div class="checkbox" style="text-align: center;">{{#if (eq entenderEnfermedades.[65].answer "S")}}X{{/if}}</div>SI
          <div class="checkbox" style="text-align: center;">{{#if (eq entenderEnfermedades.[65].answer "N")}}X{{/if}}</div>NO
        </div>
             
             
              
              
             
          </td>
        </tr>
        <tr >
           <td colspan="4" style="width: 100%;">
            <div style="display: flex;flex-direction: column; justify-content:flex-start;">
             <div style="display: flex; justify-content: space-between; align-items: center;padding-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                   Envíe la muestra a un laboratorio para su examen microscópico, en los casos siguientes:
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;padding-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                   A. A instancias de la Compañía.
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                  B. El candidato tiene más de 60 años.
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                  C. La P.A. es superior a 140 sistólica o 90 diastólica.
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                  D. Si sospecha alguna anormalidad en la muestra.
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                  E. Hay antecedente de albúmina o glucosa en la orina, o de diabetes en la familias.
                </div>
              </div>
              <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                <div style="margin: 0;padding: 0;font-size:7px">
                  F. Hay antecedentes de enfermedad de riñón, próstata, vejiga o aparato genitourinario.
                </div>
              </div>
            </div>
            </td>
             <td style="width: 50%;">
              <div style="text-align: left; width:100%">
               (Puede remitir informe confidencial al director Médico)
              </div>
              <div style="margin-top: 10px; display: flex; justify-content: center;">
                 <div style="text-align: center;">
                    <div style="width: 220px; height: 40px; display: flex; justify-content: center; align-items: center;">
                      {{#if firma.medico}}
                        <img src="{{firma.medico}}" style="max-height: 40px; max-width: 100%;" />
                      {{/if}}
                    </div>
                  </div>
              </div>
             <hr style="margin: 5px 0;" />
             Firma del M.E
             </td>
        </tr>
        <tr>
           <td colspan="4" style="width: 100%; margin: 0px; padding: 0px;">
            <div style="display: flex;justify-content:space-between; margin: 0px; padding: 0px;width: 100%; align-items: center;" >
              <div style="display: flex;flex-direction: column; justify-content:flex-start;width: 45%;">
              <div style="display: flex; justify-content: space-between; align-items: center;padding-bottom: 1px;">
                  <div style="margin-right: 0;padding-right: 0;">
                    Examen médico realizado en:
                  </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;padding-bottom: 1px;">
                  <div style="margin-right: 0;padding-right: 0;">
                    Lugar de trabajo del candidato
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">X</div>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                  <div style="margin-right: 0;padding-right: 0;">
                    Domicilio del candidato
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                  </div>
                </div>
                <div style="display: flex; justify-content: space-between; align-items: center;margin-bottom: 1px;">
                  <div style="margin-right: 0;padding-right: 0;">
                    Consultorio de M.E.
                  </div>
                  <div style="display: flex; gap: 1px;">
                    <div class="checkbox">{{#if (eq this.answer "S")}}X{{/if}}</div>
                  </div>
                </div>
              </div>
              <div style="width: 55%;margin-rigth:45px;padding-rigth:15px">
                  <div style="display: flex;flex-direction: column; justify-content:flex-start;width: 100%;padding-left: 10px;">
                        <div style="display: flex; justify-content: end; align-items: center;margin-bottom: 1px;">
                          <div style="margin-right: 0;padding-right: 0;">
                          {{this.dateAndHourCuestionarioString.hora}}
                          </div>
                        </div>
                                        <div style="display: flex; justify-content: end; align-items: center;margin-bottom: 1px;">
                          <div style="margin-right: 0;padding-right: 0;">
                              {{this.dateAndHourCuestionarioString.fecha}}
                          </div>
                        </div>
                  </div>
              </div>
            </div>

           </td>
           <td style="padding: 0;margin: 0;">
              <div style="display: flex;align-items: center;justify-content: start;width: 100%; border-bottom: 1px #000 solid; margin: 0px; padding: 0px;">
                <div style="padding: 10px;">Nombre del M.E {{this.doctorInf.nombre }}</div>
              </div>
              <div style="display: flex;align-items: center;justify-content: start;width: 100%; border-bottom: 1px #000 solid; margin: 0px; padding: 0px;">
                <div  style="padding: 10px;">Dirección del M.E {{this.doctorInf.direccion }}</div>  
              </div>
             <div style="display: flex;align-items: center;justify-content: start;width: 100%; margin: 0px; padding: 0px;">
                <div style="padding: 10px;">Ciudad {{this.doctorInf.ciudad }}</div>  
              </div>
           </td>
        </tr>
    </table>
  
 <section  >
   
        <div style="display: flex; justify-content: space-between; align-items: flex-start; margin-bottom: 2px;">
          <div style="width: 70%;">
            
            </div>
            <div style="width: 30%;">
                DECLARACIÓN ADICIONAL DE SALUD 3 de 3 
            </div>
        </div>
 
    </section>
</div>

</body>

</html>